
.detail li, a {
    background-color: #f19855 !important; 
}


body {
    width: 100%;
    font-family: 'Microsoft YaHei';
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 10px auto;
    padding: 5px;
    max-width: 900px;
}

pre,code {
    max-width: 900px;   
    word-break: break-all !important;
}


h3 {
    color: #851c11;
}

p {  
    text-indent: 20px;
}

img {
    padding: 3px;
    width: 100%;
    max-width: 800px;
    margin: 2px auto;
}

ul {
    list-style: decimal;
}
