<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div>
        <div id="app">           
            <div>{{message +'可以连接我喔'}}</div>
            <input type="text" v-model="message" />
            <p v-on="click=cc" v-if="seen">反对党的</p>
        </div>             
    </div>
</body>
</html>
<script src="//cdn.bootcss.com/vue/2.1.0/vue.js"></script>
<script type="text/javascript">
    window.onload = function () {
        var vm = new Vue({ el: '#app', data: { message: 'nan', seen: true },method:function cc(){alert(3)}});
        console.log(vm.$el);     
        console.log(vm.message);
        //console.log(vm.$watch);   
        console.log(vm.$data);
        console.log(vm.$methods);

    }
</script>

